/** Edit & Rows ***************************************************************/

.widefat .column-start,
.widefat .column-end,
.widefat .column-duration {
	width: 15%
}

.widefat .column-types,
.widefat .column-categories {
	width: 10%;
}

.widefat .column-repeat {
	width: 10%;
}

#wp_event_calendar_details .inside,
#wp_event_calendar_details table {
	padding: 0;
	margin: 0;
}

/** Common ********************************************************************/

.view-switch .view-month:before {
	content: '\f509';
}

.view-switch .view-week:before {
	content: '\f164';
}

.view-switch .view-day:before {
	content: '\f163';
}

table.calendar thead th,
table.calendar tfoot th {
	text-align: center;
}

table.calendar tbody td {
	padding: 0;
	position: relative;
	text-align: left;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

table.calendar a {
	display: block;
	-o-text-overflow: ellipsis;
	text-overflow:    ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	margin: 0;
	padding: 0 5px;
}

table.calendar tbody td.saturday,
table.calendar tbody td.sunday {
	background-color: #f1f1f1;
}

/** Month *********************************************************************/

table.month tbody td span.day-number {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 2px 10px;
	opacity: 0.5;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fafafa;
}

table.month tbody td.today span.day-number {
	background: #fbf9ee;
}

table.month tbody td {
	min-height: 110px;
}

table.month tbody th {
	height: 80px;
	background-color: #fff;
	border-bottom: 1px solid #e1e1e1;
}

table.month tbody tr th:last-of-type {
	border-right: 1px solid #e1e1e1;
}

table.month tbody td:last-of-type:not(.position-6) {
	border-right: 1px solid #e1e1e1;
}

table.month tbody tr td:last-of-type {
	border-right: none;
}

table.month div.events-for-day {
	margin: 30px 0 5px;
	min-height: 80px
}

table.month a:before {
	font: normal 15px/20px 'dashicons';
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 20px;
	height: 20px;
	margin-right: 4px;
}

.wp-pointer-content h3 a {
	color: #fff;
	text-decoration: none;
}

.wp-pointer-content h3 a:hover {
	color: #eee;
}

.wp-pointer-content h3.type-event:before,
table.month a.type-event:before {
	content: '\f145';
}

.wp-pointer-content h3.type-post:before,
table.month a.type-post:before {
	content: '\f109';
}

.wp-pointer-content h3.type-page:before,
table.month a.type-page:before {
	content: '\f105';
}

.wp-pointer-content h3.status-trash:before,
table.month a.status-trash:before {
	content: '\f182';
}

.wp-pointer-content h3.status-private:before,
table.month a.status-private:before {
	content: '\f530';
}

.wp-pointer-content h3.post-password-required:before,
table.month a.post-password-required:before {
	content: '\f315';
}

.wp-pointer-content h3.has-location:before,
table.month a.has-location:before {
	content: "\f230";
}

.wp-pointer-content h3.all-day:before,
table.month a.all-day:before {
	content: '\f469';
}

table.month a.status-draft {
	opacity: 0.5;
}

input#year {
	width: 90px;
}

/** Week **********************************************************************/

table.week th {
	width: 30px;
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	text-align: center;
	cursor: default;
}

table.week tbody tr.this-hour td {
	background: #fbf9ee;
}

table.week tr.all-day th,
table.week tr.all-day td {
	border-bottom: 2px solid #e1e1e1;
}
